// COLOR VARIABLES
$color-pink: hsl(0, 100%, 74%);
$color-green: hsl(154, 59%, 51%);
$color-blue: hsl(248, 32%, 49%);
$color-blue-dark: hsl(249, 10%, 26%);
$color-blue-light: hsl(246, 25%, 77%);
$color-white: hsl(0, 0%, 100%);

// FONT VARIABLES
$font-family: 'Poppins', sans-serif;

// FONT SIZE
$default-font-size: 1.6rem;

// Override Sass min()
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

// Override Sass max()
@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

.intro__error-icon,
.intro__error-text {
    display: none;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
}

body {
    font-size: $default-font-size;
    font-family: $font-family;
    color: $color-white;
    position: relative;
}

.intro {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-pink;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 768px) {
        background-image: url(../images/bg-intro-desktop.png);
    }

    &__container {
        width: min(100%, 600px);
        padding: 9rem 2.4rem;
        text-align: center;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 1200px) {
            flex-direction: row;
            width: min(80%, 1200px);
        }
    }

    &__left {
        margin-bottom: 6.4rem;
        flex: 1;
        
        @media only screen and (min-width: 1200px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-right: min(3rem, 3vw);
            margin-bottom: 0;
        }
    }

    &__heading {
        font-size:  clamp(2.8rem, 3.5vw, 5rem);
        line-height: calc(3rem + 1.5vw);
        margin-bottom: 2.2rem;
    }

    &__description {
        line-height: 2.6rem;
    }

    &__right {
        flex: 1.01;
    }

    // Turn into mixin??
    &__card--top,
    &__card--bottom {        
        border-radius: 8px;
        box-shadow: 0 8px 0 rgba(0, 0, 0, .15);
    }

    &__card--top {
        background-color: $color-blue;
        padding: 2rem 5.5rem;
        margin-bottom: 2.4rem;
    }

    &__offer {
        font-size: 1.5rem;
        line-height: 2.6rem;

        &--bold {
            font-weight: 700;
        }
    }

    &__card--bottom {
        background-color: $color-white;
        padding: 7.4%;
    }

    &__form {

    }

    &__field-group {
        position: relative;
        margin-bottom: 1.6rem;

        @media only screen and (min-width: 768px) {
            margin-bottom: 2rem;
        }
    }

    &__form-label {
        display: none;
    }

    &__form-input {
        font-size: 1.4rem;
        font-weight: 500;
        color: $color-blue-dark;
        border: 1px solid hsl(0, 0%, 87%);
        padding-left: 2rem;

        @media only screen and (min-width: 1200px) {
            padding-left: 3.3rem;
        }

        &:focus {
            border: 1px solid $color-blue;
        }

    }

    &__form-input,
    &__btn {
        width: 100%;
        height: 5.6rem;
        border-radius: 8px;
        font-family: $font-family;
        outline: none;
    }

    &__error-icon {
        position: absolute;
        top: 23%;
        right: 2rem;
    }

    &__error-text {
        color: $color-pink;
        font-size: 1.1rem;
        font-style: italic;
        text-align: right;
    }

    &__btn {
        text-transform: uppercase;
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 1px;
        background-color: $color-green;
        border: none;
        box-shadow: 0 4px 0 hsl(154, 61%, 44%);
        margin-bottom: 1.5rem;
        cursor: pointer;
        transition: background-color .3s, box-shadow .3s;

        &:hover,
        &:active {
            background-color: hsl(154, 65%, 68%);
            box-shadow: 0 4px 0 $color-green;
        }
    }

    &__form-footer {
        color: $color-blue-light;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0 1.5rem;

        &--bold {
            color: $color-pink;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

// ERROR
.error {
    .intro__form-input {
        border: 2px solid $color-pink;
        color: $color-pink;
    }

    .intro__error-icon,
    .intro__error-text {
        display: block;
    }
}

// ATTRIBUTION
.attribution {
    color: $color-white;
    font-size: 11px;
    line-height: 1.6rem;
    text-align: center;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);

    a {
        color: $color-blue;
        text-decoration: none;
        position: relative;
        transition: color .3s;
    }

    a::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $color-blue;
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        transition: all .3s;
    }

    a:hover::after {
        transform: scaleX(1);
    }
}
